In [52]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [53]:
import pandas as pd
import re

In [54]:
df = pd.read_csv('/content/drive/MyDrive/output.csv')

In [55]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [56]:
df.shape

(156060, 4)

In [57]:
import nltk

In [58]:
from nltk.corpus import stopwords

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0    PhraseId   156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [60]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
df['Phrase'] = df['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [61]:
stop = stopwords.words('english')
df['Phrase'] = df['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [63]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [64]:
df.isna().sum()

 PhraseId     0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [65]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [66]:
st = PorterStemmer()

In [67]:
df["Phrase"].apply(lambda x: " ".join([st.stem(word) for 
word in x.split()]))

0         a seri escapad demonstr adag good goos also go...
1                    a seri escapad demonstr adag good goos
2                                                    a seri
3                                                         a
4                                                      seri
                                ...
156055                                            hearst 's
156056                                forc avuncular chortl
156057                                     avuncular chortl
156058                                            avuncular
156059                                               chortl
Name: Phrase, Length: 156060, dtype: object

In [68]:
from textblob import Word

In [69]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [70]:
df["Phrase"] = df["Phrase"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [71]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,a series escapade demonstrating adage good goo...,1
1,2,1,a series escapade demonstrating adage good goose,2
2,3,1,a series,2
3,4,1,a,2
4,5,1,series,2

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
x_train,x_test,y_train,y_test = train_test_split(df["Phrase"],df["Sentiment"],test_size=0.25,random_state=40)
y_train

16651     2
52668     1
36084     3
88996     2
71216     2
         ..
56760     4
93176     2
30727     2
112859    1
142662    0
Name: Sentiment, Length: 117045, dtype: int64

In [76]:
tfvect = TfidfVectorizer(stop_words='english',max_df=0.7)
tfid_x_train = tfvect.fit_transform(x_train.values.astype('U'))
tfid_x_test = tfvect.transform(x_test.values.astype('U'))

In [77]:
from sklearn.linear_model import PassiveAggressiveClassifier
import sklearn.metrics as metrics
from sklearn.pipeline import Pipeline, FeatureUnion
import numpy as np

In [82]:
from sklearn import model_selection, naive_bayes, svm
#using SVM classifier
svm_pipeline  = Pipeline([
        ('svm2CV',tfvect),
        ('svm_clf',svm.LinearSVC())
         ])
print("Accuracy: ")    

svm_pipeline .fit(x_train,y_train)
predicted_svm = svm_pipeline.predict(x_test)
np.mean(predicted_svm == y_test)*100

Accuracy:

63.25515827245931